{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{% static 'css/school.css' %}">
  <title></title>
</head>
<body>

<div class="menu-container">
  <div>メニュー</div><br>
  <a href="{% url 'customer_list' %}">顧客一覧</a><br>
  <a href="{% url 'lesson_history' %}">レッスン受講記録</a><br>
  <a href="{% url 'monthly_report' %}">月別請求一覧</a><br>
  <a href="{% url 'report' %}">レポート</a>
</div>
<br>
{% block content %}
{% endblock %}

</body>
</html>
